<?xml version="1.0" encoding="utf-8" ?>
<plugin id="com.makeitzimple.super_cordova_plugin" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    
    <name>MySuperCordovaPLugin</name>

    <js-module name="MySuperCordovaPLugin" src="www/MySuperCordovaPLugin.js">
        <clobbers target="MySuperCordovaPLugin" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="MySuperCordovaPLugin">
                <param name="android-package" value="com.makeitzimple.super_cordova_plugin.MySuperCordovaPLugin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/MySuperCordovaPLugin.java" target-dir="src/com/makeitzimple/super_cordova_plugin/MySuperCordovaPLugin" />
    </platform>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="MySuperCordovaPLugin">
                <param name="ios-package" value="MySuperCordovaPLugin" />
            </feature>
        </config-file>
        <source-file src="src/ios/MySuperCordovaPLugin.m" />
    </platform>
</plugin>